{% load static %}
<!DOCTYPE html>
<html lang="en" >

  <head>
    <meta charset="UTF-8">
    <title>MobiledgeX Computer Vision Demo</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>

  <body>

    <div id="canvas-wrapper" class="wrapper">
      <video id="webcam" autoplay="" playsinline="" width="640" height="480"></video>
      <canvas id="canvasResize" width="240" height="180"></canvas>
      <canvas id="canvasOutput" width="800" height="600"></canvas>
    </div>

    <div id="sidebar-left" class="sidebar">
      <div class="header-wrapper">
        <span class="header-img"><img src="/static/images/logo-white.png" alt="MobiledgeX Logo"></span>
        <span class="header-text">Computer Vision</span>
      </div>

      <div id="activities-wrapper" class="controlPanel">
        <button type="button" class="cv-control cv-activity" id="button-fd">Face Detection</button>
        <button type="button" class="cv-control cv-activity" id="button-fr">Face Recognition</button>
        <button type="button" class="cv-control cv-activity" id="button-od">Object Detection</button>
        <button type="button" class="cv-control cv-activity" id="button-pd">Pose Detection</button>
      </div>

      <div id="protocols-wrapper" class="controlPanel">
        <button type="button" class="cv-control cv-protocol" id="button-websocket">WebSocket</button>
        <button type="button" class="cv-control cv-protocol" id="button-rest">REST</button>
      </div>

      <table>
        <tbody>
          <tr>
            <td>
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="process-onoffswitch" tabindex="0" checked="">
                <label class="onoffswitch-label" for="process-onoffswitch"></label>
              </div>
            </td>
            <td>Full Process Latency:</td>
            <td><span id="full-latency">9999 ms</span></td>
          </tr>
          <tr>
            <td>
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="network-onoffswitch" tabindex="0" checked="">
                <label class="onoffswitch-label" for="network-onoffswitch"></label>
              </div>
            </td>
            <td>Network Only Latency:</td>
            <td><span id="network-latency">9999 ms</span></td>
          </tr>
        </tbody>
      </table>
  </div>

  <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
