django
djangorestframework
gunicorn
numpy
opencv-contrib-python
imageio
psutil
requests
torch
torchvision
numba
scikit-image
scikit-learn
filterpy
websockets
websocket-client
uvloop
httptools
twisted==20.3.0
channels==2.4.0
uvicorn
redis
whitenoise
