<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobiledgex.vuzixdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.mobiledgex.computervision" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.mobiledgex.vuzixdemo.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobiledgex.computervision.ImageProcessorActivity"
            android:label="Face Detection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobiledgex.computervision.PoseProcessorActivity"
            android:label="Pose Detection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobiledgex.computervision.SettingsActivity"
            android:label="Pose Detection"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>